/*color scheme*/
$blue: #042057;
$gently_blue: #226fb7;
$white: white;
$bright-greenish-yellow: #f1c400;
$luminescent-red: #e60000;
$olive: #489b00;
$azure-craiola: #2ab2dd;
$pebble-gray: #bdbd9a;
$black: #000;
$black-brown: #222222;
$gray-brown: #363636;
$light-gray: #bdbdbd;

/*font-size*/
$text_medium: 16px;
$text_big: 24px;
$text_small: 14px;
$text_extra_small: 12px;
